<html>
<head>
  <title> About Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <center>
    <h1 style="color:green">About Us Page</h1>
    <style>
    a:link{
      color:white;

    }
    a:visited{
      color: white;
    }
    a:active{
      color: white;
      background-color: white;
    }
    a:hover{
      color: red;
      background-color: green;
    }
  </style>

    <div class="container-fluid">


      <ul class="nav nav-pills nav-justified  bg-dark" >
        <img src="{{pic11}}" class="rounded" width="100" height="40">
        <li class="nav-item">
     <a class="nav-link"href="/">Home Page</a>
      </li>
       <li class="nav-item">
    <a  class="nav-link" href="/about11">About page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contect">Contect Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="/reach">Reach Us</a>
  </li></ul>

</div><br><br>

<div class="container-fluid">
  <img src="{{pic8}}" class="rounded" width="1250" height="250"><br><br>
  <h2 style="color:black">Techi began its journey after we realized that the rapid growth in technology has left many people in need of basic technological assistance and guidance in their daily lives, especially seniors and those who lack essential resources.
  Techi strives to make technology more accessible and simple to use for those who need it most – senior citizens, inexperienced users, and anyone who requires basic tech help. Whether it is your (or your parents’) phone or computer – we provide comprehensive services in a quick, trusted and professional manner.
</h2><br><br><br>
  <div class="row">
    <div class="col-sm-6" style="background-color:white;"><img src="{{pic31}}" class="rounded" width="650" height="250"></div>
    <div class="col-sm-6" style="background-color:white;"><h4 style="color:green;">Get More Knowledge About Computers</h4>
    <p style="color:green;">The latest technology topics, including operating systems, software, security.</p></div><br><br>
    <div class="col-sm-6" style="background-color:white;"><img src="{{pic32}}" class="rounded" width="650" height="250"></div>
    <div class="col-sm-6" style="background-color:white;"><h4 style="color:green;">Get Knowledge About computer repair technician </h4>
    <p style="color:green;">A professional computer technician can do more than fix the problems you know about.</p></div>
    <div class="col-sm-6" style="background-color:white;"><img src="{{pic33}}" class="rounded" width="650" height="250"></div>
    <div class="col-sm-6" style="background-color:white;"><h4 style="color:green;">Get More Knowledge About Phone and about Andoid Versinos </h4>
    <p style="color:green;">Latest Version of iphone Get More inforamtion here .</p></div>
  </div>

  </div>
  </div>


  {{> footer}}
</body>
</html>
